<h1>HR-Mitra </h1>
  <div style="background-color: black">
<%= link_to 'About Us', about_path, target: '_blank', style: 'color:yellow' %>
<%= link_to 'Contact Us', contact_path, target: '_blank', style: 'color:yellow' %>
<%= link_to 'Privacy Policy', privacy_policy_path, target: '_blank', style: 'color:yellow' %>
<%= link_to 'Terms and Conditions', terms_and_conditions_path, target: '_blank', style: 'color:yellow' %>
  </div>