
<h1 style="color: yellowgreen; background-color: black"><%= @title_text %></h1>
<h1><%= @Subtitle_text %></h1>
  <%#= link_to 'About us', controller: :pages, action: :about_us %>
  <%#= link_to 'About us', about_path, target: '_blank', data: { name: 'about-us', resource: 'pages'} %>
  <%#= link_to 'About us', '/about' %>
  <%#= link_to nil, about_path %>

<%= render 'shared/links' %>

